{% extends 'base.html' %}

{% block head_css %}
 <link rel="stylesheet" href="http://apps.bdimg.com/libs/highlight.js/9.1.0/styles/github.min.css">
{% endblock %}

{% block content %}

    <div class="clear-fix">
        <div id="main">
            <div id="detail-title">
                <ul id="single-nav">
                    <li><a href="{% url 'blog:index' %}">首页</a></li>
                    <li>&gt;</li>
                    <li>
                        <ul class="post-categories">
                            <li><a href="" title=""
                                   rel="category">{{ article.category.name }}</a>
                            </li>
                        </ul>
                    </li>
                    <li>&gt;</li>
                    <li class="title-active"><a href="{{blog.get_absolute_url}}"
                                                rel="bookmark">{{ article.title }}</a>
                    </li>
                </ul>
            </div>
            <div class="post type-post status-publish format-standard hentry category-meida-report">
                <div class="post-hd">
                    <h1 class="title">{{ article.title }}</h1>
                </div>
                <div class="date-read">
                    <i class="icon-date"></i><span class="date">{{ article.publish_time |date:"Y年n月d日" }}</span>

                    {% for tag in article.tags.all %}
                    <a href="{%url 'blog:tag' tag%}">{{tag }}</a>
                    {% endfor %}
                </div>
                <div class="post-bd">
                    {{ article.body |safe }}
                </div>
            </div>
        </div>
    </div>
    <!-- <div id="previous-next-nav">
    </div> -->

    {% include "./widget/doushuo-comment.html" %}
{% endblock %}

{% block footer_javascript %}

<script src="http://apps.bdimg.com/libs/highlight.js/9.1.0/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>

{% endblock %}
